.vscode/
Pipfile
Pipfile.lock
backend/__pycache__/
*.py[cod]
*.pyc
**/*.pyc
**/**/*.pyc
**/**/**/*.pyc
__pycache__/
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
backend/editor/ai_test.py
backend/editor/api_secrets.py