
.desktop2 {
  background-color: black;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  line-height: 140%;
  letter-spacing: -3px;
  color: #0d0d0d;
  flex-direction: column;
  width: 100%;
  height: 1024px;
}

.logo {
  width: 50%;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.login_container {
  display: flex;
  padding: 5px 40px;
  width: 900px;
  box-sizing: border-box;
  border-radius: 32px;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
}

.login_input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.login_subsection{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  
}

.text_container{
  position: relative;
  flex-direction: column;
  display: flex;
  height: 132px;
  width: 170px;
  justify-content: center;
  

}

.email_text{
  padding-top: 15px;
  width: 110px;
  height: 58px;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #E9D738;
  position: relative;
  letter-spacing: 10px;

}
.pw_text {
  padding-top: 23px;
  width: 110px;
  height: 58px;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #E9D738;
  letter-spacing: 10px;
}



.input_container{
  position: relative;
  flex-direction: column;
  display: flex;
  padding-top: 2.5px;
}
.email_input {
  position: relative;
  width: 430px;
  height: 50px;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}
.pw_input {
  position: relative;
  width: 430px;
  height: 50px;
  width: 430px;
  height: 50px;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.login_conatiner{
  position: relative;
  display: flex;
  flex-direction: row;

}


.loginBtn{
  position: relative;
  width: 154px;
  height: 100%;
  background: #4235D3;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  cursor: pointer;
  letter-spacing: 5px;

}


.otherbutton{
  position:relative;
  display: flex;
  margin-top: 15px;
  flex-direction: row-reverse;
}

.link_findPw{
  position: relative;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;

/* identical to box height */


color: #FFFFFF;


}

.link_register {
position: relative;
margin-left: 30px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

font-family: 'NeoDunggeunmo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
cursor: pointer;

color: #FFFFFF;
letter-spacing: 5px;



}

.login_input {
  display: flex;
  flex-direction: row;
}