.desktop13 {
  position: relative;
  justify-content: center;
  background-color: black;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: white;
  font-family: "NeoDunggeunmo";
}

.header {
  flex: 1;
  position: relative;
  height: 60px;
  margin-left :20px;
  margin-right: 20px;
  margin-top: 20px;
  border-top: solid #f5f5dc;
  border-bottom: solid #f5f5dc;
  display: flex;
  position: relative;
  flex-grow: 0;

}

.problemname {
  position: relative;
  width: 414px;
  height: 30px;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: #ffb800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-top: 15px;
}

.main_section {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  position: relative;
  height: 100%;
}
/*----------------- section_left -----------------*/
.section_left {
  flex: 1;
  position: relative;
  height: 755px;
  width: calc(35.4101% - 10px);
  justify-content: center;
  border: thick solid #3b338c;
  padding: 20px;
  margin-right:10px
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}

/*
.dropdownul {
  position: relative;
  top: 55px;
  color: white;
  background: #000080;
  z-index: 2;
  width: 300px;
}

.dropdownli {
  position: relative;
  color: white;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
} */

.section1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  position: relative;
  height: 60%;
  background-color: #3b338c;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: scroll;
}

.question_title1 {
  padding: 7px;
  margin-left: 10px;
  position: relative;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-block: 5px;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.5em;
  color: #ffe600;
  text-shadow: -0.5px 0 #315528, 0 0.5px #315528, 0.5px 0 #315528,
    0 -0.5px #315528;
}
.question_line {
  position: relative;
  margin-inline: 10px;
  border: 1px dashed #6ec059;
}
.question_content1 {
  position: relative;
  height: 40%;
  font-family: "NeoDunggeunmo Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-inline: 20px;
  padding-block: 15px;
  color: white;
  line-height: 160%;
}




.section2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  position: relative;
  background-color: #3b338c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: scroll;
}

.testcase_title {
  padding: 7px;
  margin-left: 10px;
  position: relative;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-block: 5px;
  text-align: left;
  letter-spacing: 0.5em;
  color: #f5e44a;
  text-shadow: -0.5px 0 #315528, 0 0.5px #315528, 0.5px 0 #315528,
    0 -0.5px #315528;
}


.testcase_line {
  position: relative;
  margin-inline: 10px;
  border: 1px dashed #6ec059;
}
.testcase_content {
  position: relative;
  height: 80%;
  font-family: "NeoDunggeunmo Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-inline: 20px;
  padding-block: 15px;
  color: white;
  line-height: 160%;
}

/*----------------------- Editor -----------------------*/

.editor {
  position: relative;
  justify-content: center;
  width: 70%;
  height: 754px;
  border: thick solid #3b338c;
  padding:20px;
}



.savebutton {
  position: relative;
}

.functionbutton {
  position: relative;
}

.codeBtn1 {
  width: 55px;
  height: 34px;
  position: relative;
  background: #ff6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.codeBtn1:hover,
.codeBtn2:hover,
.codeBtn3:hover {
  box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
  transform: translateY(-5px);
}

.codeBtn1:active, .codeBtn2:active, .codeBtn3:active {
  background: #f8c5b5;
}

.codeBtn2 {
  width: 55px;
  height: 34px;
  position: relative;
  background: #ff6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.codeBtn3 {
  width: 55px;
  height: 34px;
  position: relative;
  background: #ff6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.saveBtn:hover, .runBtn:hover, .evalBtn:hover, .submitBtn:hover {
  box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
  transform: translateY(-5px);
}

.saveBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.runBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.evalBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.submitBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.showvalueBtn {
  position: relative;
}
.uploadBtn {
  position: relative;
}
.resetBtn {
  position: relative;
}
.copyBtn {
  position: relative;
}
.downloadBtn {
  position: relative;
}

/*------------- Editor main --------------*/


.onlyEditors {
  position: relative;
  display: flex;
  flex-direction: row;
}



.resultBtn1 {
  position: relative;
  width: 123px;
  height: 52px;
  background: #4235d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}
.resultBtn2 {
  position: relative;
  width: 123px;
  height: 52px;
  background: #9c95f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}
.resultBtn3 {
  position: relative;
  width: 180px;
  height: 52px;
  background: #b1aed2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.resultBtn4 {
  position: relative;
  width: 123px;
  height: 52px;
  background: #cac9d4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  margin-right: 0px;
  padding-right: 0px;
  flex: right;
  cursor: pointer;
}



.otc_area {
  color:#ffc3c3;
  background-color:#040404;
}

.htc_area {
  color:#bbbbfd;
  background-color: #040404;
}

.ttc_score {
  color:#ffffff;
  background-color: #040404;
}

.showvalueBtn {
  width: 82px;
  height: 34px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.uploadBtn {
  font-family: "NeoDunggeunmo";
}
.resetBtn {
  margin-right: 0;
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px;
  background: #b1aed2;
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.copyBtn {
  margin-right: 0;
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px;
  background: #b1aed2;
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.downloadBtn {
  margin-right: 0;
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px;
  background: #b1aed2;
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.editor_footer {
  position: relative;
  background: white;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  flex-direction: row-reverse;
  padding-left: 10px;
  padding-right: 10px;
}

.uploadBtn {
  margin: 5px;
  width: 100px;
  height: 37px;
}



/*----------------- section_left -----------------*/

.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}

/*
.dropdownul {
  position: relative;
  top: 55px;
  color: white;
  background: #000080;
  z-index: 2;
  width: 300px;
}

.dropdownli {
  position: relative;
  color: white;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
} */



.editor_header {
  position: relative;
  background: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  height: 48px;
}

.editor_header_body {
  border-bottom: thick solid #3b338c;
}

.savebutton {
  position: relative;
  display: flex;
}

.functionbutton {
  position: relative;
  display: flex;
}

.codeBtn1 {
  width: 55px;
  height: 34px;
  position: relative;
  background: #ff6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.codeBtn1:hover,
.codeBtn2:hover,
.codeBtn3:hover {
  box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
  transform: translateY(-5px);
}

.codeBtn1:active, .codeBtn2:active, .codeBtn3:active {
  background: #f8c5b5;
}

.codeBtn2 {
  width: 55px;
  height: 34px;
  position: relative;
  background: #ff6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.codeBtn3 {
  width: 55px;
  height: 34px;
  position: relative;
  background: #ff6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.saveBtn:hover, .runBtn:hover, .evalBtn:hover, .submitBtn:hover {
  box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
  transform: translateY(-5px);
}

.saveBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.runBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.evalBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.submitBtn {
  width: 82px;
  height: 37px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.showvalueBtn {
  position: relative;
}
.uploadBtn {
  position: relative;
}
.resetBtn {
  position: relative;
}
.copyBtn {
  position: relative;
}
.downloadBtn {
  position: relative;
}

/*------------- Editor main --------------*/


.onlyEditors {
  position: relative;
  display: flex;
  flex-direction: column;
    width: 100%;
    height: 85%;
}

.terminal {
  position: relative;

}

.terminal_header {
  position: relative;
  background: #ffffff;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resultBtn1 {
  position: relative;
  width: 123px;
  height: 52px;
  background: #4235d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}
.resultBtn2 {
  position: relative;
  width: 123px;
  height: 52px;
  background: #9c95f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}
.resultBtn3 {
  position: relative;
  width: 180px;
  height: 52px;
  background: #b1aed2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.resultBtn4 {
  position: relative;
  width: 123px;
  height: 52px;
  background: #cac9d4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  margin-right: 0px;
  padding-right: 0px;
  flex: right;
  cursor: pointer;
}

.result_window {
  position: relative;
  background: #ffffff;
  backdrop-filter: blur(2px);
  height: 90%;
}

.showvalueBtn {
  width: 82px;
  height: 34px;
  margin: 5px;
  position: relative;
  background: #4235d3;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.uploadBtn {
  font-family: "NeoDunggeunmo";
}
.resetBtn {
  margin-right: 0;
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px;
  background: #b1aed2;
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.copyBtn {
  margin-right: 0;
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px;
  background: #b1aed2;
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.downloadBtn {
  margin-right: 0;
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px;
  background: #b1aed2;
  border: none;
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  cursor: pointer;
}

.editor_footer {
  position: relative;
  background: white;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  flex-direction: row-reverse;
  padding-left: 10px;
  padding-right: 10px;
}

.uploadBtn {
  margin: 5px;
  width: 100px;
  height: 37px;
}
.myInlineDecoration {
	background: #ffc7c7;
	cursor: pointer;
	font-weight: bold;
	font-style: oblique;
}

.myLineDecoration {
	background: light-blue;
	cursor: pointer;
	font-weight: bold;
	font-style: oblique;
}

.tc_div{
  height: 100%;
}