.desktop13 {
  position: relative;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: white;
  font-family: 'NeoDunggeunmo';
}
.header {
  flex: 1;
  position: relative;
  height: 66px;
  margin: 15px;
  background: #DFDFDF;
  border-radius: 0px 0px 20px 20px;
}

.problemname {
  position: relative;
  width: 414px;
  height: 30px;
  top: 20px;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height */
  
  letter-spacing: 0.03em;
  
  color: #FFB800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.main_section {
  display: flex;
  position: relative;
}
/*----------------- section_left -----------------*/
.section_left {
  flex: 1;
  position: relative;
  height: 900px;
  width: 40%;
  justify-content: center;
  padding: 10px;
}

/*
.dropdownul {
  position: relative;
  top: 55px;
  color: white;
  background: #000080;
  z-index: 2;
  width: 300px;
}

.dropdownli {
  position: relative;
  color: white;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
} */

.section1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  position: relative;
  height: 60%;
  background: #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.question_title{
  position: relative;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-block: 5px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.635em;
  color: #FFE600;
  text-shadow: -0.5px 0 #315528, 0 0.5px #315528, 0.5px 0 #315528, 0 -0.5px #315528;
}
.question_line {
  position: relative;
  margin-inline: 10px;
  border: 1px dashed #A5A49C;
}
.question_content{
  position: relative;
  height: 40%;
  font-family: 'NeoDunggeunmo Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-inline: 20px;
  padding-block: 5px;
  color: #0066FF;
}

.constraint_title {
  position: relative;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-block: 5px;
  text-align: center;
  letter-spacing: 0.425em;
  color: #F5E44A;
  text-shadow: -0.5px 0 #315528, 0 0.5px #315528, 0.5px 0 #315528, 0 -0.5px #315528;
}
.constraint_line {
  position: relative;
  margin-inline: 10px;
  border: 1px dashed #A5A49C;
}
.constraint_content {
  position: relative;
  height: 40%;
  font-family: 'NeoDunggeunmo Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-inline: 20px;
  padding-block: 5px;
  color: #0066FF;
}




.section2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  position: relative;
  margin-top: 10px;
  height: 40%;
  background: #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.testcase_title {
  position: relative;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-block: 5px;
  text-align: center;
  letter-spacing: 0.775em;
  color: #F5E44A;
  text-shadow: -0.5px 0 #315528, 0 0.5px #315528, 0.5px 0 #315528, 0 -0.5px #315528;
}
.testcase_line {
  position: relative;
  margin-inline: 10px;
  border: 1px dashed #A5A49C;
}
.testcase_content {
  position: relative;
  height: 80%;
  font-family: 'NeoDunggeunmo Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #0066FF;
}

/*----------------------- Editor -----------------------*/

.editor{
  position: relative;
  justify-content: center;
  height: 100%;
  width: 60%;
}
/*------------- Editor header --------------*/
.editor_header{
  position: relative;
  background: #000000;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.savebutton{
  position: relative;
}

.functionbutton{
  position: relative;

}

.codeBtn1 {
  width: 55px;
  height: 37px;
  position: relative;
  background: #FF6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.codeBtn2 {
  width: 55px;
  height: 37px;
  position: relative;
  background: #FF6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.codeBtn3 {
  width: 55px;
  height: 37px;
  position: relative;
  background: #FF6838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-family: NeoDunggeunmo Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.saveBtn{
  width: 82px;
  height: 34px;
  position: relative;
  background: #4235D3;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.runBtn {
  width: 82px;
  height: 34px;
  position: relative;
  background: #4235D3;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.evalBtn {
  width: 82px;
  height: 34px;
  position: relative;
  background: #4235D3;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}
.submitBtn {
  width: 82px;
  height: 34px;
  position: relative;
  background: #4235D3;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}
/*------------- Editor main --------------*/
.onlyEditors{
  position: relative;
  flex: 1 1 0%;
  display: flex;
  width: 100%;
  /* position: absolute; */
  flex-direction: row;
}

.terminal{
  position: relative;

}

.terminal_header {
  position: relative;
  background: #FFFFFF;
  backdrop-filter: blur(2px);
}

.resultBtn1{
  position: relative;
  width: 123px;
  height: 52px;
  background: #4235D3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.resultBtn2{
  position: relative;
  width: 123px;
  height: 52px;
  background: #9C95F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.resultBtn3{
  position: relative;
  width: 180px;
  height: 52px;
  background: #B1AED2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.resultBtn4{
  position: relative;
  width: 123px;
  height: 52px;
  background: #B1AEA3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: 'NeoDunggeunmo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.result_window{
  position: relative;
   top: 120%;
 }