.desktop13 {
  position: relative;
  background-color: black;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: white;
  font-family: "NeoDunggeunmo";
}

.resultpage-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.logo {
  position: relative;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.resultpage-left-container {
  flex-direction: row;
  position: relative;
  width: 550px;
}
.resultpage-right-container {
  margin-top: 5%;
  margin-left: 30px;
  position: relative;
  width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.resultpage-lhdr {
  border-top: solid #f5f5dc;
  border-bottom: solid #f5f5dc;
  justify-content: center;
  display: flex;
  position: relative;
  flex-grow: 0;
}

.submitresult_container {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: thick solid #3b338c;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.submitresult_button {
  width: 100%;
  height: 100px;
  background-color: #3b338c;
  color: rgb(251, 255, 0);
  font-size: 30px;
  border: none;
  font-family: NeoDunggeunmo;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: left;
  padding-left: 20px;
  min-width: 330px;
}

.submitresult_button:active {
  box-shadow: inset -0.3rem -0.1rem 1.4rem #fbfbfb,
    inset 0.3rem 0.4rem 0.8rem #bec5d0;
  cursor: pointer;
}
.submitresult_innerbutton:active {
  box-shadow: inset -0.3rem -0.1rem 1.4rem #fbfbfb,
    inset 0.3rem 0.4rem 0.8rem #bec5d0;
  cursor: pointer;
}

.submitresult_innerbutton {
  height: 100px;
  background-color: #3b338c;
  color: white;
  border: none;
  border-top: 1px solid #6ec059;
  border-bottom: 1px solid #6ec059;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: NeoDunggeunmo;
  padding-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: left;
  padding-left: 10%;
}

.play {
  width: 20px;
  margin-right: 20px;
}

.resultpage-rhdr {
  background-color: white;
  height: 28px;
  color: black;
  font-family: NeoDunggeunmo;
  font-size: 25px;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  flex-grow: 0;
}

.resultpage-component1 {
  height: 400px;
  margin-top: 20px;
  border: thick solid #3b338c;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border: thick solid #3b338c;
  padding: 20px;
}
.resultpage-component2 {
  height: 260px;
  margin-top: 20px;
  border: thick solid #3b338c;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border: thick solid #3b338c;
  padding: 20px;
}
.text_section {
  background-color: #3b338c;
  overflow: scroll;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: white;
  line-height: 200%;
  height: 100%;
}

.text_section Chart {
  display: block;
  width: 100%;
  height: 100%;
}
